aside {
    position: relative;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 340px;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    border-right: 6px solid var(--line-color); 
    margin-right: 20px;
    transition: background-color 0.3s linear;
}
p{
    margin: 10px;
    transition: color 0.3s linear;
}
.floor{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 70px;
    justify-content: flex-end;
}
.exitButton {
    position: fixed;
    justify-content: center;
    border: 0;
    bottom: 20px;
    background-color: transparent;
    color: var(--text-color);
}

hr {
    width: 300px;
    height: 4px;
    border: 0;
    border-radius: 2px;
    background-color: var(--line-color);

}

.nav-link {
    border-radius: 20px;
    margin: 10px;
    padding: 0 15px 0 15px;
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: var(--button-background-color);
}
.nav-link.active{
    background-color: var(--desctop-background-space);
}
.nav-link.active:hover {
    background-color: var(--button-background-color);
}

.employee-list {
    max-height: 400px; /* Пример фиксированной высоты */
    min-width: 180px;
    overflow: auto; /* Добавление прокрутки */
}
.employee-list li::marker {
    content: "•";
    color: #5EFA28; /* Зеленый цвет маркера для status=true */
    margin-left: 5px;
}

.employee-list li.red-marker::marker {
    color: #FA2828; /* Красный цвет маркера для status=false */
}

.employee-list a {
    text-decoration: none; /* Убираем подчеркивание */
    color: var(--text-color); /* Цвет текста ссылки */
}

.employee-list::-webkit-scrollbar {
    width: 5px; /* Ширина полосы прокрутки */
}

.employee-list::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет ползунка */
    border-radius: 5px; /* Скругление углов ползунка */
}

.employee-list::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Цвет фона полосы прокрутки */
    border-radius: 5px; /* Скругление углов ползунка */
}

