html,
body,
#root {
  height: 100%;
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
  font-size: 24pt;
  font-family: "Inter", sans-serif;

}
html[data-theme='dark'] {
  --background-color: #292929;
  --button-background-color: #2468CE;
  --desctop-background-space: #19446B;
  --text-color: #e1e1e1;
  --input-background-color: #f8f8f8;
  --line-color: #4E525A;
  --modal-background: #E5E6E9;
}

html[data-theme='light'] {
  --background-color: #E5E6E9;
  --button-background-color: #2468CE;
  --desctop-background-space: #2170CC;
  --text-color: #4E525A;
  --input-background-color: #f8f8f8;
  --line-color: #e1e1e1;
  --modal-background: #4E525A;
}