.mapContainer {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    border-radius: 37px;
    width: 1510px;
    height: 920px;
    background-color: var(--desctop-background-space);
    transform-origin: top right; 
}


.point {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #FA2828;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: #FA2828;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    z-index: 100;
}



